{{ define "base" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ template "title" }} - Ceres CMS</title>

        <!-- REMIXICON CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.min.css">
        <link rel="stylesheet" href="/static/css/tailwind.output.css">

    </head>
    <body>
        <header class="sticky bg-pink-300">
            <nav>
                <ul class="flex flex-col">
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {{ template "main" . }}
        </main>

        <footer>
            &copy; {{ .CurrentYear }} Hapax Redux
        </footer>
    </body>
</html>
{{ end }}