{{ define "base" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ template "title" }} - Ceres CMS</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/static/css/tailwind.output.css">

        <!-- REMIXICON CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.min.css">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    </head>
    <body>
        <header class="sticky bg-pink-300">
            <nav>
                <ul class="flex flex-row text-white">
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {{ template "main" . }}
        </main>

        <footer>
            &copy; {{ .CurrentYear }} Hapax Redux
        </footer>
    </body>
</html>
{{ end }}